body {
    background-image: url('frontpage.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.button-container {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    color: blue;
}

.form-container {
    display: none;
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 300px;
}

#jobList {
    margin-top: 20px;
}
